---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joining Dots Montessori">
  <main class="">
    <!-- Hero Section -->
    <section
      class="bg-hero bg-cover w-full h-full object-cover py-[15%] grid place-items-center"
    >
      <div class="text-center text-white space-y-4">
        <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl">Welcome to</h2>
        <h1 class="text-3xl md:text-5xl lg:text-7xl font-extrabold uppercase">
          Joining Dots Montessori
        </h1>
        <h3 class="font-bold text-2xl md:text-3xl lg:text-4xl">
          Play | Explore | Learn
        </h3>
        <div class="">
          <a
            href="#"
            class="text-center font-bold hover:px-14 transition-[padding] duration-500 ease-in-out px-10 py-2 text-lg md:text-xl lg:text-2xl rounded-full bg-red-500"
            >Explore</a
          >
        </div>
      </div>
    </section>
    <!-- Cards Section -->
    <section
      class="grid grid-cols-1 -mt-10 md:grid-cols-2 lg:grid-cols-3 gap-x-8 px-10 md:px-20 lg:px-40 gap-y-8"
    >
      <div
        class="rounded-3xl hover:-translate-y-10 transition-transform duration-500 ease-in-out p-8 aspect-[5/4] bg-yellow-500 flex flex-col justify-between"
      >
        <div class="">
          <h3
            class="text-white font-bold text-center text-2xl md:text-3xl lg:text-4xl"
          >
            Quality Education
          </h3>
          <h4
            class="text-white mt-4 text-center text-xl md:text-2xl lg:text-2xl"
          >
            Emphasize your commitment to providing a high-quality educational
            experience.
          </h4>
        </div>
        <div class="grid place-items-center">
          <a
            href="#"
            class="bg-red-500 text-xl font-bold px-8 py-2 rounded-full text-white"
            >Explore</a
          >
        </div>
      </div>
      <div
        class="rounded-3xl hover:-translate-y-10 transition-transform duration-500 ease-in-out p-8 aspect-[5/4] bg-red-500 flex flex-col justify-between"
      >
        <div class="">
          <h3
            class="text-white font-bold text-center text-2xl md:text-3xl lg:text-4xl"
          >
            Child Friendly And Comfortable Environment
          </h3>
          <h4
            class="text-white mt-4 text-center text-xl md:text-2xl lg:text-2xl"
          >
            The child's whole growth depends on the facility having a positive
            atmosphere. Young children, require special care and attention to
            ensure the proper growth
          </h4>
        </div>
        <div class="grid place-items-center">
          <a
            href="#"
            class="bg-teal-500 px-8 py-2 rounded-full text-white font-bold text-xl"
            >Explore</a
          >
        </div>
      </div>
      <div
        class="rounded-3xl hover:-translate-y-10 transition-transform duration-500 ease-in-out p-8 aspect-[5/4] bg-teal-500 flex flex-col justify-between"
      >
        <div class="">
          <h3
            class="text-white font-bold text-center text-2xl md:text-3xl lg:text-4xl"
          >
            Effective Communication
          </h3>
          <h4
            class="text-white mt-4 text-center text-xl md:text-2xl lg:text-2xl"
          >
            Good preschool management maintains clear and supportive
            communication with parents and is always willing to solve any query
            or confusion from their end.
          </h4>
        </div>
        <div class="grid place-items-center">
          <a
            href="#"
            class="bg-yellow-500 px-8 py-2 rounded-full text-white font-bold text-xl"
            >Explore</a
          >
        </div>
      </div>
    </section>
    <section
      class="px-4 md:px-20 lg:px-32 flex flex-col items-center md:flex-row-reverse gap-x-8 gap-y-5 py-10 md:py-20"
    >
      <div class="md:w-1/2 space-y-5">
        <h3
          class="text-red-500 font-medium max-md:text-center text-2xl md:text-3xl lg:text-4xl"
        >
          Why do we call ourselves
          <span class="font-bold uppercase"> JOINING DOTS?</span>
        </h3>
        <p class="text-black/50 text-xl text-justify">
          Joining the dots is a fun way of learning and connecting with kids.
          using that connect to make them enjoy and be comfortable in a
          Montessori environment while helping them preparing for the formative
          years of learning. scientifically also this is the age when 90% of
          their brain development happens which makes it crucial that the
          learning happens in a right way
        </p>
        <div class="mt-4">
          <a
            href="#"
            class="bg-red-500 text-white px-6 py-2 rounded-full font-bold text-xl"
            >Discover More</a
          >
        </div>
      </div>
      <img
        src="/whydowe.jpg"
        alt="Why do we?"
        class="w-full md:w-1/2 h-72 object-cover"
      />
    </section>
    <section
      id="countersSection"
      class="relative animate-numbers px-4 md:px-20 bg-black lg:px-32 py-40 grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-4 gap-y-4"
    >
      <img
        src="/kidsss.jpg"
        alt="Kids playing"
        class="absolute top-0 left-0 object-cover opacity-40 w-full h-full z-10"
      />
      <div class="z-20">
        <h3
          data-count="28"
          class="p-16 rounded-full bg-red-500/80 text-white font-bold text-4xl md:text-7xl"
        >
          0
        </h3>
        <h4 class="font-bold text-center text-white text-xl md:text-3xl">
          Students
        </h4>
      </div>
      <div class="z-20">
        <h3
          data-count="12"
          class="p-16 rounded-full bg-teal-500/80 text-white font-bold text-4xl md:text-7xl"
        >
          0
        </h3>
        <h4 class="font-bold text-center text-white text-xl md:text-3xl">
          Teachers
        </h4>
      </div>
      <div class="z-20">
        <h3
          data-count="4"
          class="p-16 rounded-full bg-yellow-500/80 text-white font-bold text-4xl md:text-7xl"
        >
          0
        </h3>
        <h4 class="font-bold text-center text-white text-xl md:text-3xl">
          Groups
        </h4>
      </div>
      <div class="z-20">
        <h3
          data-count="15"
          class="p-16 rounded-full bg-gray-500/80 text-white font-bold text-4xl md:text-7xl"
        >
          0
        </h3>
        <h4 class="font-bold text-center text-white text-xl md:text-3xl">
          Groups
        </h4>
      </div>
    </section>
    <section class="px-4 py-20 md:px-20 lg:px-32">
      <h3
        class="text-red-500 font-bold text-2xl md:text-3xl lg:text-4xl text-center"
      >
        Our Pre-School Programs
      </h3>
      <h4
        class="font-medium text-black/50 text-lg md:text-2xl text-center py-5"
      >
        With age-appropriate stimulation, and the right balance of learning and
        fun, we encourage their curiosity and fuel their creative side.
      </h4>
      <div
        class="my-5 grid place-items-center grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-5 lg:grid-cols-3"
      >
        <div class="aspect-square w-full h-full">
          <img src="psp1.jpg" alt="Kid 1" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="psp2.jpg" alt="Kid 2" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="psp3.jpg" alt="Kid 3" class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="grid place-items-center">
        <a
          href="#"
          class="bg-red-500 px-6 py-2 rounded-full text-white font-bold"
          >Our Programs</a
        >
      </div>
    </section>
    <section class="px-4 md:px-20 lg:px-32 gap-x-8 gap-y-5 py-20 bg-black/5">
      <h3
        class="text-red-500 font-bold text-2xl md:text-3xl lg:text-4xl text-center"
      >
        Why choose Us?
      </h3>
      <h4
        class="text-black/60 font-semibold text-center text-lg md:text-2xl py-5"
      >
        Choosing the right preschool is a decision which every parent has to
        make to ensure early childhood development of their kid
      </h4>
      <div class="flex flex-col mt-5 gap-x-10 gap-y-5 md:flex-row items-center">
        <div class="md:w-1/2 space-y-5">
          <p class="text-black/50 text-lg text-justify md:text-2xl">
            The beauty of Montessori is that it is a right “fit” for children
            with a wide array of personalities and learning styles. At Joining
            Dots Montessori, the teacher and parents work together between home
            and school, to help the children learn and develop to their full
            potential. The choice of how your child will be educated during
            their formative years is one of the most important decision you will
            make regarding your child future.<br /><br />
            Our aim is to educate children in a way that promotes independent learning,
            supports emotional growth and embraces differences using Montessori approach.
          </p>
        </div>
        <img
          src="/whychooseus.jpg"
          alt="Why do we?"
          class="w-full md:w-1/2 h-80 object-cover"
        />
      </div>
    </section>
    <section class="px-4 py-20 md:px-20 lg:px-32">
      <h3
        class="text-red-500 font-bold text-2xl md:text-3xl lg:text-4xl text-center"
      >
        Our Gallery
      </h3>
      <h4
        class="font-medium text-black/50 text-lg py-5 lg:text-2xl text-center"
      >
        Explore all the memories at one place
      </h4>
      <div
        class="my-5 grid place-items-center grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-5 lg:grid-cols-3"
      >
        <div class="aspect-square w-full h-full">
          <img src="g1.jpg" alt="Kid 1" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="g2.jpg" alt="Kid 2" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="g3.jpg" alt="Kid 3" class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="grid place-items-center">
        <a
          href="#"
          class="bg-red-500 px-6 py-2 rounded-full text-white text-xl font-bold"
          >View More</a
        >
      </div>
    </section>
    <section class="px-4 py-20 bg-preschool bg-cover md:px-20 lg:px-32">
      <h3
        class="text-red-500 font-bold text-2xl md:text-3xl lg:text-4xl text-center"
      >
        Our Pre-School Events
      </h3>
      <h4
        class="font-medium text-black/50 text-lg md:text-2xl py-5 text-center"
      >
        With age-appropriate stimulation, and the right balance of learning and
        fun, we encourage their curiosity and feul their creative side.
      </h4>
      <div
        class="my-5 grid place-items-center grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-5 lg:grid-cols-3"
      >
        <div class="aspect-square w-full h-full">
          <img src="pe1.jpg" alt="Kid 1" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="pe2.jpg" alt="Kid 2" class="w-full h-full object-cover" />
        </div>
        <div class="aspect-square w-full h-full">
          <img src="pe3.jpg" alt="Kid 3" class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="grid place-items-center">
        <a
          href="#"
          class="bg-red-500 px-6 py-2 rounded-full text-white text-xl font-bold"
          >View More</a
        >
      </div>
    </section>
    <section
      class="px-4 md:px-20 lg:px-32 gap-x-8 gap-y-5 py-20 bg-teal-100/20"
    >
      <h3
        class="text-red-500 font-bold text-2xl md:text-3xl lg:text-4xl text-center uppercase"
      >
        Our Director
      </h3>
      <h4
        class="text-black/60 font-semibold text-lg md:text-2xl text-center py-5"
      >
        Some good words of director
      </h4>
      <div class="grid place-items-center">
        <img
          src="/director.png"
          alt="Director"
          class="h-72 rounded-full object-cover"
        />
      </div>
      <p class="text-black/50 pt-4 text-lg text-center md:text-2xl">
        "Education is not something which a teacher does, but that its natural
        process which develops spontaneously in the kids” having said that over
        the years I have worked with early childhood education and have been a
        part of Montessori environment for more than 7 years. I have realised
        that working with kids is something that I love and have numerous ideas
        to make this beginning a happy one for the kids as well for the
        parents."
        <br /><br />
        <span class="font-semibold">-Parul Agarwal</span>
      </p>
    </section>
  </main>
  <script>
    const counters = document.querySelectorAll(".z-20 h3");
    console.log(counters);
    const speed = 1000;
    const countersSection = document.querySelector("#countersSection");
    console.log("Counters Section");
    console.log(countersSection);
    const options = {
      root: null,
      threshold: 0,
      rootMargin: "0px 0px -50px 0px",
    };
    const observer = new IntersectionObserver(function (entries, observer) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          counters.forEach((counter) => {
            const animate = () => {
              const value = +counter.getAttribute("data-count");
              const data = +counter.innerText;

              const time = value / speed;

              if (data < value) {
                counter.innerText = Math.ceil(data + time);
                setTimeout(animate, 1);
              } else {
                counter.innerText = value;
              }
            };
            animate();
          });
        } else {
          counters.forEach((counter) => {
            counter.innerText = 0;
          });
        }
      });
    }, options);
    observer.observe(countersSection);
  </script>
</Layout>

<style></style>
