---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<footer
  class="px-8 md:px-20 lg:px-32 py-8 md:py-20 bg-footer bg-cover grid grid-cols-1 md:grid-cols-3 md:gap-x-20 gap-y-5"
>
  <div class="gap-y-3 grid place-items-center">
    <img src="/logo.jpg" alt="Logo" class="w-40 rounded-2xl" />
    <p class="text-white text-center">
      Montessori & Daycare at Joining Dots Montessori believes every child is
      gifted, they just unwrap
    </p>
  </div>
  <div class="md:grid md:place-items-center">
    <h4 class="text-red-500 font-bold mb-5">Quick Links</h4>
    <ul class="space-y-4">
      <li>
        <a
          class={`${
            currentPath === ""
              ? "text-white font-bold"
              : "font-medium text-white/60"
          }  uppercase`}
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class={`${
            currentPath === "about"
              ? "text-white font-bold"
              : "font-medium text-white/60"
          }  uppercase`}
          href="/about">About</a
        >
      </li>
      <li>
        <a
          class={`${
            currentPath === "programs"
              ? "text-white font-bold"
              : "font-medium text-white/60"
          }  uppercase`}
          href="/contact">Programs</a
        >
      </li>
      <li>
        <a
          class={`${
            currentPath === "gallery"
              ? "text-white font-bold"
              : "font-medium text-white/60"
          }  uppercase`}
          href="/contact">Gallery</a
        >
      </li>
      <li>
        <a
          class={`${
            currentPath === "events"
              ? "text-white font-bold"
              : "font-medium text-white/60"
          }  uppercase`}
          href="/contact">Events</a
        >
      </li>
    </ul>
  </div>
  <div class="">
    <h4 class="text-red-500 font-bold mb-5">Contact Info</h4>
    <p class="text-white">
      <span class="font-bold">Address</span>: Alpine Eco Rd, Ferns City,
      Doddanekkundi, Bengaluru, Karnataka 560037
    </p>
    <a href="tel:+91-9342635720" class="text-white"
      ><span class="font-bold">Phone:</span>
      093426 35720
    </a>
  </div>
</footer>
